################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gitsample/v15/Server/sqlite3
/.vs/gitsample/v15
